<div class="row-fluid">	
	<footer class="footer">
		<div class="span3 offset2">
			<p class="span">Terry Yuen's website, copyright</p>&nbsp;<a href="{{baseurl}}global/img/bitch-please.png"> ?</a>
		</div>
		<div class="span3 offset3">
			<p class="pull-right"><a href="#">Back to top</a></p>
		</div>
	</footer>
</div>
<script type="text/javascript" src="{{baseurl}}global/js/jquery.js?v={{version}}"></script>
<script type="text/javascript" src="{{baseurl}}global/bootstrap/js/bootstrap.min.js?v={{version}}"></script>
<script type="text/javascript" src="{{baseurl}}global/js/common.js?v={{version}}"></script>
<script type="text/javascript" src="{{baseurl}}global/js/pagination.js?v={{version}}"></script>