<meta charset="UTF-8">
<meta name="robots" content="noodp,noydir" />
<meta name="description" content="Lifeshackle is a personal blog of Terry Yuen who seeks to break the shackles of life." />
<meta name="keywords" content="Lifeshackle, Life, Shackle of Life, terryxlife, social news, personal blog" />
<meta name="author" content="Terry Yuen Wai Hoe" />
<link rel="shortcut icon" href="{{baseurl}}global/img/x.png" />
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" media="screen" />
<link rel="stylesheet" href="{{baseurl}}global/css/main.css" media="screen" />