<div class="topbar">
	<div class="fill">
        <div class="container">
			<a class="brand" href="{{baseurl}}home">Life's Shackle</a>
			<ul class="nav">
				<li><a href="{{baseurl}}video">Video</a></li>
				<li><a href="{{baseurl}}profile">Profile</a></li>
			</ul>
			<form id="login-form" class="pull-right">
				<input id="username" class="input-small" type="text" placeholder="Username">
				<input id="password" class="input-small" type="password" placeholder="Password">
				<button class="btn" type="submit">Sign in</button>
			</form>
        </div>
	</div>
</div>