<div class="main-content">			

	<h3>Summary</h3>
	A PHP freak and jQuery ninja wannable.


	<h3>Software skills</h3>
	Experience with :
	<ul>
		<li>Databases : MySQL, Access</li>
		<li>Language :
			<ul>
				<li>PHP Framework : CodeIgniter, DooPHP, Zend </li>
				<li>JavaScript : jQuery</li>
				<li>HTML & CSS</li>
				<li>HTML 5 & CSS 3</li>
			</ul>
		</li>
		<li>Software :
			<ul>
				<li>Adobe Products : Dreamweaver, Illustrator, Photoshop</li>
				<li>Microsoft Office : Access, Project, Word</li>
				<li>Open Source Products : Open Office, Gimp, Netbeans, Aptana,</li>
			</ul>
		</li>
		<li>Operating Systems : Windows XP, Windows 7, Mac OS X</li>
	</ul>
</div>

<div class="sidebar">
	ABC
</div>