<div id="main-content" class="span11">	
	<h3>Summary</h3>
	<p>A PHP freak and jQuery ninja wannable.</p>

	<h3>Software skills</h3>
	Experience with :
	<ul>
		<li>Databases : MySQL, Access</li>
		<li>Language :
			<ul>
				<li>PHP Framework : CodeIgniter, DooPHP, Zend </li>
				<li>JavaScript : jQuery</li>
				<li>HTML & CSS</li>
				<li>HTML 5 & CSS 3</li>
			</ul>
		</li>
		<li>Software :
			<ul>
				<li>Adobe Products : Dreamweaver, Illustrator, Photoshop</li>
				<li>Microsoft Office : Access, Project, Word</li>
				<li>Open Source Products : Open Office, Gimp, Netbeans, Aptana,</li>
			</ul>
		</li>
		<li>Operating Systems : Windows XP, Windows 7, Mac OS X</li>
	</ul>
</div>
<div class="span5">
	<img src="{{baseurl}}global/img/terry.jpg" alt="terry" /> 
</div>

<div id="footer"></div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{baseurl}}global/js/twitter-bootstrap/bootstrap-all.js"></script>
<script type="text/javascript" src="{{baseurl}}global/js/common.js?{{version}}"></script>