<ul id="article-date" class="nav nav-pills">
	<li data-id="Jan"><a href="#Jan">Jan</a></li>
	<li data-id="Feb"><a href="#Feb">Feb</a></li>
	<li data-id="Mar"><a href="#Mar">Mar</a></li>
	<li data-id="Apr"><a href="#Apr">Apr</a></li>
	<li data-id="May"><a href="#May">May</a></li>
	<li data-id="Jun"><a href="#Jun">Jun</a></li>
	<li data-id="Jul"><a href="#Jul">Jul</a></li>
	<li data-id="Aug"><a href="#Aug">Aug</a></li>
	<li data-id="Sep"><a href="#Sep">Sep</a></li>
	<li data-id="Oct"><a href="#Oct">Oct</a></li>
	<li data-id="Nov"><a href="#Nov">Nov</a></li>
	<li data-id="Dec"><a href="#Dec">Dec</a></li>
</ul>

<div class="progress progress-striped active hide">
	<div class="bar"></div>
</div>

<div id="article"></div>