<div id="main-content" class="span11">			
</div>

<div class="span5">
	<div id="pagination"></div>
	<hr />
	<div id="archive"></div>
</div>

<div class="pagination"></div>
<div id="footer"></div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{baseurl}}global/js/twitter-bootstrap/bootstrap-all.js"></script>
<script type="text/javascript" src="{{baseurl}}global/min/common.js?{{version}}"></script>
<script type="text/javascript" src="{{baseurl}}global/min/jquery.paginate.js?{{version}}"></script>
<script type="text/javascript">
	
	
</script>
