<div class="content">
	<div class="row">
		<div id="main-content" class="span16">
			<div class="page-header">
				<div id="pagination"></div>
			</div>
			<div id="store">
				
			</div>
		</div>
	</div>
</div>
<!-- include '/template/footer' -->

<!--Login-->
<script>
	//module login will use the nav modal
	$('#login-form').bind('submit', function(e){
		e.preventDefault();
			
		//declare class to be appended
		var headerDiv = $('.header-message');
		var errorDiv = $('.error-message');
			
		//declare message variable
		var header = "";
		var message = "";
			
		Common.clearDiv(headerDiv);
		Common.clearDiv(errorDiv);
			
		$.ajax({
			type : 'POST',
			url : '{{baseurl}}login',
			data : {username : $('#username').val(), password : $('#password').val()},
			dataType : 'json',
			statusCode : {
				200 : function(data){
					window.location = data;
				},
				400 : function(){
					header = "Login Error";
					message = "Invalid combination of username/password";
					headerDiv.html(header);
					errorDiv.html(message);
					Common.navModal();
				},
				404 : function(){
					header = "Login Error";
					message = "The page is not found.";
					headerDiv.html(header);
					errorDiv.html(message);
					Common.navModal();
				}
			}
		});
	});
</script>
<script>
	$(function(){
		$.ajax({
			type: 'GET',
			url: '{{baseurl}}store/fetch-store-item',
			success: function(data){
				if(data){
					var str = '<ul class="media-grid">';
				
					for(var i = 0; i < data.length; i++){
						str += '<li>';
						str += '<a href="#">';
						str += '<img class="thumbnail store-img" src="{{baseurl}}'+ data[i].thumbnail+'" alt="'+ data[i].product_name +'">';
						str += '</a>';
						str += '</li>';
					}
					str += '</ul>';
				}
				$('#store').append(str);
			}
		});
	});
</script>
